<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'list_sentence' %}?tab=ab"><button>Assamese-Bodo</button></a>
    <a href="{% url 'list_sentence' %}?tab=ae"><button>Assamese-English</button></a>
    <a href="{% url 'list_sentence' %}?tab=be"><button>Bodo-Engish</button></a>
</body>
</html>