<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    
    <div class="flex justify-center mt-8">
        <table>
            <thead>
                <tr>
                    <th>Domain</th>
                    <th>Sentence L1</th>
                    <th>Sentence L2</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td>
                            {{obj.domain}} 
                            <input type="text" name="domain" value="{{obj.domain}}" class="hidden">
                            <input type="text" name="domain" value="{{obj.id}}" class="hidden">
                        </td>
                        <td>
                            {{obj.sentence_L1}}
                            <input type="text" name="sen_l1" value="{{obj.sentence_L1}}" class="hidden">
                        </td>
                        <td>
                            {{obj.sentence_L2}}
                            <input type="text" name="sen_l2" value="{{obj.sentence_L2}}" class="hidden">
                        </td>
                       
                      
                        <td>
                            <a href="{% url 'edit_sentence' obj.id obj.dataset_lang %}">Edit</a>
                            <!-- <button type="submit" class="flex bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Edit</button> -->
                        </td>
                    </tr>
                    
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        .hidden{
            display: none;
        }
    </style>
</html>